@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a id="addTicket"class="btn btn-primary mt-2">Yes</a>
</div>

<ul id="ticketList">
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        let counter = 0;
        $(`#addTicket`).click(function () {
            //create a new component upon clicking addTicket
            const component = 
            `<li>
                <div>
                      ${counter} <button class="deleteButton btn-primary">What</button>
                </div>
            </li>`;
            $(`#ticketList`).append(component);
            counter += 1;
        });

        $('#ticketList').on('click', '.deleteButton', function () {
           /*
            * Upon clicking a child component of ticketList it grabs that component
            * via (this) and then grabs the closest li, its parent, and .remove() it
            */
            $(this).closest('li').remove();
        });

    });
</script>
